<div class="dialogs-wrapper">
  <div class="dialogs-users">
    <div class="search-section">
    </div>
    <cdk-virtual-scroll-viewport appendOnly itemSize="13" class="items">
      <mat-selection-list
        [multiple]="false"
        (selectionChange)="onSelectUser($event)"
      >
        <mat-list-option
          *cdkVirtualFor="let chat of chats"
          class=""
          [value]="chat"
        >
          <div class="dialogs-user-info">
            <img
              mat-card-avatar
              class="user-avatar"
              src="{{ getCompanion(chat.users)?.avatarPath }}"
              alt="Avatar image"
            >
            <span>
              {{ getCompanion(chat.users)?.email }}
            </span>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </cdk-virtual-scroll-viewport>

    <div class="dialogs-users-footer">

    </div>
  </div>

  <div class="empty-chat" *ngIf="!selectedChat">
    <div class="chat-icon-wrapper">
      <mat-icon aria-label="Chat" class="chat-icon">chat</mat-icon>
    </div>
    <div>
      <span>Выберите чат</span>
    </div>
  </div>

  <div class="chat-section" *ngIf="selectedChat">
    <div class="chat-header">
      <span class="selected-user-name">
        {{ getCompanion(selectedChat.users)?.email }}
      </span>
      <img
        mat-card-avatar
        class="selected-user-avatar"
        src="{{ getCompanion(selectedChat.users)?.avatarPath }}"
        alt="Avatar image"
      >
    </div>

    <cdk-virtual-scroll-viewport
      #scrollSection
      class="messages"
      appendOnly
      itemSize="10"
    >
      <div
        *ngFor="let message of selectedChat.messages"
        class="chat-message {{ getMessageStyle(message.sender?.id) }}"
      >
        <img
          mat-card-avatar
          class="message-avatar"
          src="{{ message.sender?.avatarPath }}"
          alt="Avatar image"
        >
        <div class="message-data">
          <span class="message-data-user-name">
            {{ message.sender?.email }}
          </span>
          <span>
            {{ message.content }}
          </span>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

    <div class="controls">
      <form
        id="chat-form"
        [formGroup]="formGroup"
        (ngSubmit)="onMessageSend(message.value)"
      >
        <mat-form-field appearance="fill" class="chat-input">
          <mat-label>Отправьте сообщение</mat-label>
          <input
            formControlName="message"
            matInput
            #message
            placeholder="Привет!..."
          >
        </mat-form-field>
      </form>
      <button
        mat-icon-button
        matTooltip="Отправить"
        class="send-btn"
        type="submit"
        form="chat-form"
        [disabled]="formGroup.invalid"
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
