.warning {
  padding: 2rem;
  text-align: center;
}

::ng-deep .mat-list-item-content {
  width: 100%;
}

::ng-deep .mat-nav-list .mat-list-item {
  height: 4rem;
}

.subscription-item {
  display: flex;
  justify-content: space-between;

  .subscription-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .create-dialog-btn {
      margin-right: 0.5rem;
    }

    .subscription-info {
      display: flex;
      align-items: center;

      .subscription-avatar {
        margin-right: 0.5rem;
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 100%;
      }
    }

    .subscribe-btn {
      background-color: #f44336;
      cursor: pointer;
      text-transform: uppercase;
    }

    .unsubscribe-btn {
      background-color: gray;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}
