@import '../../../styles/variables.scss';

.feed {
  .warning {
    padding: 2rem;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $secondary-color;
    border-radius: 0.2rem;

    h4 {
      margin: 0;
    }
  }

  .example-card {
    background: $secondary-color;
    margin-bottom: 1rem;

    .posts-controls {
      display: flex;
      justify-content: space-between;
    }

    .example-header-image {
      background-size: cover;
    }

    .comments-input {
      display: grid;
      grid-template-columns: 1fr 0.1fr;

      .send-btn {
        margin: 0.5rem 0 0 0.1rem;
      }
    }

    .comment-item {
      display: block;
      height: auto;
      padding: 0.4rem 0;

      .comment-wrapper {
        display: flex;
        flex-direction: column;

        .comment-text {
          font-size: 0.8rem;
        }

        .comment-info {
          display: flex;
          align-items: center;
          padding-bottom: 0.5rem;

          .comment-avatar {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  .spinner-section {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
}

