@import '../../../styles/variables.scss';

.feed {
  .example-card {
    background: $secondary-color;
    margin-bottom: 1rem;

    .example-header-image {
      background-size: cover;
    }
  }

  .spinner-section {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
}

