<div class="feed">
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <mat-card
      *ngFor="let feedItem of posts"
      class="example-card"
    >
      <mat-card-header>
        <img
          mat-card-avatar
          class="example-header-image"
          src="{{ feedItem.post.owner?.avatarPath }}"
          alt="Avatar image"
        >
        <mat-card-title>
          {{ feedItem.post.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ feedItem.post.owner?.email }}
        </mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ feedItem.post.imagePath }}"
        alt="Post image"
      >
      <mat-card-content>
        <p>
          {{ feedItem.post.content }}
        </p>
      </mat-card-content>
      <mat-card-actions class="posts-controls">
        <div>
          <button
            mat-icon-button
            (click)="onDislike(feedItem.post)"
            *ngIf="isAlreadyLike(feedItem.post)"
            color="warn"
            matTooltip="Не понравилось"
          >
            <mat-icon matBadge="{{ feedItem.post.likes?.length }}">favorite</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="onLike(feedItem.post)"
            *ngIf="!isAlreadyLike(feedItem.post)"
            matTooltip="Понравилось"
          >
            <mat-icon matBadge="{{ feedItem.post.likes?.length }}">favorite_outline</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Комментарии"
            (click)="onComment(feedItem)"
          >
            <mat-icon matBadgeColor="warn" matBadge="{{ feedItem?.post?.comments?.length }}">comment</mat-icon>
          </button>
        </div>
        <button
          *ngIf="canUserDeletePost(feedItem)"
          mat-button
          (click)="openDeletePostDialog(feedItem)"
        >
          Удалить
        </button>
      </mat-card-actions>

      <div *ngIf="feedItem.isComments" class="comments-section">
        <form
          [formGroup]="form"
          (ngSubmit)="sendComment(feedItem.post, commentInput.value)"
          class="comments-input"
        >
          <mat-form-field appearance="fill">
            <mat-label>Оставьте комментарий</mat-label>
            <input
              formControlName="message"
              matInput
              maxlength="800"
              #commentInput
              placeholder="Отличный пост..."
            >
          </mat-form-field>
          <button
            type="submit"
            mat-icon-button
            matTooltip="Отправить"
            class="send-btn"
          >
            <mat-icon>send</mat-icon>
          </button>
        </form>
        <mat-nav-list>
          <a *ngFor="let comment of feedItem.post.comments?.reverse()" mat-list-item class="comment-item">
            <div class="comment-wrapper">
              <div class="comment-info">
                <img
                  mat-card-avatar
                  class="comment-avatar"
                  src="{{ comment.owner.avatarPath }}"
                  alt="Avatar image"
                >
                <span>
                  {{ comment.owner.email }}
                </span>
              </div>
              <span class="comment-text">
                {{ comment.message }}
              </span>
            </div>
          </a>
        </mat-nav-list>
      </div>
    </mat-card>

    <div *ngIf="isLoading" class="spinner-section">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>

    <div *ngIf="posts.length === 0 && !isLoading" class="warning">
      <h4>Пока постов нет :( Но вы можете создать первый!</h4>
    </div>
  </div>

</div>
