<div class="feed">
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <mat-card
      *ngFor="let feedItem of posts"
      class="example-card"
    >
      <mat-card-header>
        <img
          mat-card-avatar
          class="example-header-image"
          src="{{ feedItem.post.owner?.avatarPath }}"
          alt="Avatar image"
        >
        <mat-card-title>
          {{ feedItem.post.title }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ feedItem.post.owner?.email }}
        </mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ feedItem.post.imagePath }}"
        alt="Post image"
      >
      <mat-card-content>
        <p>
          {{ feedItem.post.content }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-icon-button
          color="warn"
          matTooltip="Понравилось"
        >
          <mat-icon matBadge="0">favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Комментарии"
          (click)="onComment(feedItem)"
        >
          <mat-icon matBadgeColor="warn" matBadge="{{ feedItem?.post?.comments?.length }}">comment</mat-icon>
        </button>
      </mat-card-actions>

      <div *ngIf="feedItem.isComments" class="comments-section">
        <div class="comments-input">
          <mat-form-field appearance="fill">
            <mat-label>Оставьте комментарий</mat-label>
            <input matInput maxlength="800" #commentInput placeholder="Отличный пост...">
          </mat-form-field>
          <button
            (click)="sendComment(feedItem.post, commentInput.value)"
            mat-icon-button
            matTooltip="Отправить"
            class="send-btn"
          >
            <mat-icon>send</mat-icon>
          </button>
        </div>
        <mat-nav-list>
          <a *ngFor="let comment of feedItem.post.comments?.reverse()" mat-list-item class="comment-item">
            <div class="comment-wrapper">
              <div class="comment-info">
                <img
                  mat-card-avatar
                  class="comment-avatar"
                  src="{{ comment.owner.avatarPath }}"
                  alt="Avatar image"
                >
                <span>
                  {{ comment.owner.email }}
                </span>
              </div>
              <span class="comment-text">
                {{ comment.message }}
              </span>
            </div>
          </a>
        </mat-nav-list>
      </div>
    </mat-card>

    <div *ngIf="isLoading" class="spinner-section">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
  </div>

</div>
