@import '../../../styles/variables.scss';

.feed {
  .example-card {
    background: $secondary-color;
    margin-bottom: 1rem;

    .example-header-image {
      background-size: cover;
    }
  }
}

