@import '../../styles/variables.scss';

.toolbar {
  position: fixed;
  padding: 0 20rem;
  height: $header-height;
  z-index: 100;

  .spacer {
    flex: 1 1 auto;
  }

  .logo {
    color: $main-color;
    text-decoration: none;
  }
}
