@import '../styles/variables.scss';

::ng-deep .mat-form-field {
  margin-bottom: 0.5rem;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $main-color;

  .content {
    padding-top: 1rem;
    height: 100%;
    background-color: $main-color;
    width: $content-width;
    margin: $header-height auto 0 auto;
  }
}
